body {
	background-color: white;
	color: #303030;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	margin: 20px;
}

main {
	background-color: #3F0F3F;
	margin: 20px auto;
	max-width: 450px;
	padding: 20px;
}

button {
	background-color: cornflowerblue;
	border-radius: 3px;
	font-family: "Verdana";
}

ol {
  list-style: none;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 0;
}

li {
  padding: 10px;
}

li:nth-child(odd) {
  background-color: #e3e3e3;
  border-radius: 6px;
}

form {
  background-color: lightsteelblue;
  border-radius: 6px;
  margin: 0;
  padding: 10px;
}

input {
  border: none;
  border-radius: 3px;
  font-size: 15px;
  padding: 5px;
}

#initials {
  width: 40px;
}

#message {
  width: 315px;
}